.row {
margin-top: 40px;
margin-left: 40px;
margin-right: 40px;
}
.row [class^="col-"] {
padding-top: 10px;
padding-bottom: 10px;
background-color: #eee;
border: 1px solid #ddd;
background-color: rgba(86,61,124,.15);
border: 1px solid rgba(86,61,124,.2);
position: center;
}

a {
    color: #ffdead;
    font-family: 'Cinzel Decorative', cursive;
    /*font-family: 'Raleway Dots', cursive; écriture avec les points*/
    font-size: 50px;
}
a:hover {
    color: #856d4d;
    border: rgba(133,109,77,.80);
    border-radius: 60%;
}
body {
    background-image: url("images/fond_1.bmp");
    background-attachment: fixed;
    background-size: 100%;
}

/* Accueil */
.imgAccueil {
    text-align: center;
    border-radius: 20px;
    
}
.imgAccueil td {
    border-collapse: collapse;
    border: 3px solid;
}
.imgAccueilRobeSoiree {
    width: 400px; 
}
.imgAccueilRobeMariee, .imgAccueilRobeCocktail, .imgNouveaute1, .imgNouveaute4 {
    width: 205px;
}
.imgNouveaute2 {
    width: 208px;
}
.imgNouveaute3 {
    width: 210px;
}
.textAccueil {
    
    font-family: 'Parisienne', cursive;
    font-size: 23px;
    margin-top: 40px;
    margin-right: 70px;
    margin-left: 70px;
    color: black;
}

    /* FIN Accueil */
    
/* Style */
.listMenuStyle {
    list-style: none;
}
.row [class^="col-"] {
    border-radius: 15px;
    background-color: rgba(63,39,27,.30);
    color: black;

}
.row [class="col-md-1"] {
    opacity: 0;
    width: 50px;
}
.row [class="col-md-3"] {
    width: 225px;
}
.row [class="col-md-8"] {
}

    /*FIN Style */